div.tile-container .tile .tile-inner {
    color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: none;
    z-index: 10;
}
.tile.tile-2 .tile-inner {
    background-image: url('../i/math4ever/2.gif')
}
.tile.tile-4 .tile-inner {
    background-image: url('../i/math4ever/4.gif')
}
.tile.tile-8 .tile-inner {
    background-image: url('../i/math4ever/8.gif')
}
.tile.tile-16 .tile-inner {
    background-image: url('../i/math4ever/16.gif')
}
.tile.tile-32 .tile-inner {
    background-image: url('../i/math4ever/32.gif')
}
.tile.tile-64 .tile-inner {
    background-image: url('../i/math4ever/64.gif')
}
.tile.tile-128 .tile-inner {
    background-image: url('../i/math4ever/128.gif')
}
.tile.tile-256 .tile-inner {
    background-image: url('../i/math4ever/256.gif')
}
.tile.tile-512 .tile-inner {
    background-image: url('../i/math4ever/512.gif')
}
.tile.tile-1024 .tile-inner {
    background-image: url('../i/math4ever/1024.gif')
}
.tile.tile-2048 .tile-inner {
    background-image: url('../i/math4ever/2048.gif')
}
.tile.tile-super .tile-inner {
    color: rgb(255, 230, 230);
    color: rgba(255, 230, 230, 0.9);
    text-shadow: 0 0 3px rgba(255, 230, 230, 0.9);
    background-image: url('../i/math4ever/super.gif');
    font-size: 20px;
    line-height: 100%;
}
#preload images body:after {
    display: none;
    url('../i/math4ever/2.gif') url('../i/math4ever/4.gif') url('../i/math4ever/8.gif') url('../i/math4ever/16.gif') url('../i/math4ever/32.gif') url('../i/math4ever/64.gif') url('../i/math4ever/128.gif') url('../i/math4ever/256.gif') url('../i/math4ever/512.gif') url('../i/math4ever/1024.gif') url('../i/math4ever/2048.gif') url('../i/math4ever/super.gif')
}
