html, body {
  background: #ddddff;
  color: #333333;
}
.score-container, .best-container, .game-container .game-message a, a.style-button, .score-container:after, .best-container:after {
  background: #eecccc;
  color: #333333;
}
.game-container .game-message.game-won {
    background: rgba(190, 190, 190, 0.5);
    color: #333333; 
}
.grid-cell {
  background: rgba(228, 228, 228, 0.65); 
}  
.game-container {
  background: #eeaaaa;
}
@media screen and (max-width: 520px) {
  .game-container .game-message a {
      background: #cc5555;
      color: #f6f6f6;
  }
  .game-container .game-message.game-won {
    background: rgba(190, 190, 190, 0.5);
    color: #f6f6f6; 
  }
  .grid-cell {
    background: rgba(228, 228, 228, 0.35); 
  }
}

h1.title {
    font-size: 50px;
}
div.tile-container .tile .tile-inner {
    color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: none;
    z-index: 10;
}
.tile.tile-2 .tile-inner {
    background-image: url('../i/sugar/2.gif')
}
.tile.tile-4 .tile-inner {
    background-image: url('../i/sugar/4.gif')
}
.tile.tile-8 .tile-inner {
    background-image: url('../i/sugar/8.gif')
}
.tile.tile-16 .tile-inner {
    background-image: url('../i/sugar/16.gif')
}
.tile.tile-32 .tile-inner {
    background-image: url('../i/sugar/32.gif')
}
.tile.tile-64 .tile-inner {
    background-image: url('../i/sugar/64.gif')
}
.tile.tile-128 .tile-inner {
    background-image: url('../i/sugar/128.gif')
}
.tile.tile-256 .tile-inner {
    background-image: url('../i/sugar/256.gif')
}
.tile.tile-512 .tile-inner {
    background-image: url('../i/sugar/512.gif')
}
.tile.tile-1024 .tile-inner {
    background-image: url('../i/sugar/1024.gif')
}
.tile.tile-2048 .tile-inner {
    background-image: url('../i/sugar/2048.gif')
}
.tile.tile-super .tile-inner {
    color: rgb(255, 230, 230);
    color: rgba(255, 230, 230, 0.9);
    text-shadow: 0 0 3px rgba(255, 230, 230, 0.9);
    background-image: url('../i/sugar/super.gif');
    font-size: 20px;
    line-height: 100%;
}
#preload images body:after {
    display: none;
    url('../i/sugar/2.gif') url('../i/sugar/4.gif') url('../i/sugar/8.gif') url('../i/sugar/16.gif') url('../i/sugar/32.gif') url('../i/sugar/64.gif') url('../i/sugar/128.gif') url('../i/sugar/256.gif') url('../i/sugar/512.gif') url('../i/sugar/1024.gif') url('../i/sugar/2048.gif') url('../i/sugar/super.gif')
}
